################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RoleBasedAuthorization/.vs/RoleBasedAuthorization/FileContentIndex/b5c0df64-f0a9-477f-8872-a51017bcda27.vsidx
/RoleBasedAuthorization/.vs/RoleBasedAuthorization/FileContentIndex/b5c0df64-f0a9-477f-8872-a51017bcda27.vsidx
/RoleBasedAuthorization/.vs/RoleBasedAuthorization/FileContentIndex/51167d77-50d6-4a96-999a-023a3bffce64.vsidx
